* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 236, 222);
}

a {
    margin: 10px;
    text-decoration: none;
    color: rgb(19, 18, 18);
}

a:hover {
    color: rgb(139, 139, 90);
}

.headerStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-height: 120px;
    background-color: rgb(243, 236, 222);
    width: 100vw;
}

.headerStyleImg {
    max-height: 90px;
    margin-top: 15px;
    margin-left: 15px;
}

.headerStyleNav {
    display: flex;
    margin-right: 100px;
    font-size: 2rem;
    font-family: "OpenSans-Light";
    letter-spacing: 10px
}

/* .main{
	background-color: aquamarine;
	height: 100%;
} */

.footerStyle {
    height: 100px;
    margin-top: 1100px;
    background-color: rgba(230, 218, 207, 0.411);
    bottom: 0px;
    width: 100%;
    
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}