* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 236, 222);
}

a {
    margin: 10px;
    text-decoration: none;
    color: rgb(19, 18, 18);
}

a:hover {
    color: rgb(170, 170, 166);
    text-decoration: underline;

}


.headerStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(243, 236, 222);
    width: 100vw;
}

.headerStyleImg {
    max-height: 90px;
    margin-top: 15px;
    margin-left: 15px;
}

.headerStyleNav {
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
    margin-right: 200px;
    font-size: 1rem;
    font-family: "OpenSans-Light";
    letter-spacing: 1px;
    align-self: flex-start;
}
.headerStyleNavProduct {
    flex-wrap: wrap;
    display: flex;
    letter-spacing: 1px;
    margin-right: 200px;
    font-size: 2rem;
    font-family: "OpenSans-Light";
    align-self: end;
}







.footerStyle {
    height: 100px;
    margin-top: 1100px;
    background-color: rgba(230, 218, 207, 0.411);
    bottom: 0px;
    width: 100%;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans_SemiCondensed-Light";
    src: url("../assets/fonts/OpenSans_SemiCondensed-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans_Condensed-Light";
    src: url("../assets/fonts/OpenSans_Condensed-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}